

<section>
  <form action="/login" method="post">
    <fieldset>
      <legend>Login form</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="<%= password %>" />
      </div>
      <div>
        <input type="submit" value="Login" />
      </div>
    </fieldset>
  </form>
</section>

  <section>
    <form action="/request-password-reset" method="post">
      <fieldset>
        <legend>Reset password form</legend>
        <div>
          <label for="email">Email:</label>
          <input type="text" name="email" value="<%= email %>" />
        </div>
        <div>
          <input type="submit" value="Reset password" />
        </div>
      </fieldset>
    </form>
  </section>



<section>
  <form action="http://localhost:3000/api/users" method="POST">
    <fieldset>
      <legend>Sign up form</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= email %>"/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="<%= password %>"/>
      </div>
      
      <div>
        <input type="submit" value="Sign up"/>
      </div>
    </fieldset>
  </form>
</section>

