<section>
  
  <form action="http://localhost:3000/api/users/reset" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div>
        <label for="password">New password:</label>
        <input type="text" name="newPassword">
      </div>
      <div>
        <label for="confirmation">Confirm new password:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>
</section>
