<style>
  button{
     background:none;
     border:none; 
     padding:0;
     font: inherit;
     border-bottom:1px solid #000000; 
     cursor: pointer;
    }
  </style>

<h1><0%= title %></h1>
<0% if (typeof content !== 'undefined') { %>
  <p><%= content %></p>
<% } %>

<form action="<%= redirectToEmail %>" method='post'>
   <button type='submit' value="<%= redirectToLinkText %>"><%= redirectToLinkText %></button>
   for new email to complete registration.
   Click <a href="<%= redirectTo %>">home</a> to try login again or sign up.
</form>